<h1>About us </h1>
<h2>HutchTec project Chester</h2>
<p>Project Chester came about by wanting to learn Ruby on Rails over my Christmas break, i manage a IT team with some coders and i think knowing as much as i can, i will become a better manager</p>
 